apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml

namePrefix: portal-

labels:
  - pairs:
      app.kubernetes.io/name: portal

buildMetadata: [originAnnotations]
#todo: use configmap generator for configmap.yaml
